<!-- HANDLEBARS always looks to the views folder for a layout.hbs -->
<!-- this is our main template -->
<!-- thats why the layout file always has 3 {} -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todos</title>
  </head>
  <body>
    {{{ body }}}
  </body>
</html>
