<!-- <div class="container-fluid bg-2 text-center"> -->
<h1>Enter Client Information</h1>

<br></br>
<form action="/coaches/{{id}}/clients" method="post">
  <div>
    <label for="First Name">FirstName</label>
    <input type="text" name="first_name">
  </div>
<br>
</br>
  <div>
    <label for="Last Name">LastName</label>
    <input type="text" name="last_name">
  </div>
  <br>
  </br>
    <div>
    <label for="email">Email</label>
    <input type="text" name="email">
  </div>
  <br>
  </br>
  <!-- <input type="submit" value="Login"> -->
  <!-- <h6></h6> -->
  <div>
    <label for="phone_number">Phone</label>
    <input type="text" name="phone_number">
  </div>
  <br>
  </br>
  <div>
    <label for="notes">Notes</label>
    <input type="text" name="notes">
  </div>
  <br>
  </br>
<div>
  <input type="submit" value="AddClient" class="btn btn-primary">
</div>
</head>
</form>
